<br>
<div class="container">
<h1><%= @list.name %></h1>
<br>
<%= cl_image_tag @list.photo.key, height: 450, width: 800, crop: :fill %>

<% @list.movies.each do |movie| %>
<h4><%= movie.title %></h4>
<br>
<p><%= movie.overview %></p>
<br>
<% end %>
<br>
<%= link_to "add a new movie", new_list_bookmark_path(@list), class: 'btn btn-warning text-white'  %>

</div>
